.login-container .box {
    width: 70vh;
    height: 55vh;
    border-radius: 44px;
    background-color: #e990f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-container .box-mobile {
    width: 70vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bearFace {
    width: 160px;
    height: 150px;
    object-fit: contain;
}

.bearFace-mobile {
    width: 160px;
    height: 150px;
    object-fit: contain;
}

.btn-login {
    width: 151px;
    height: 60px;
    border-radius: 36px;
    border: solid 3px #ffffff;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

.btn-login-mobile {
    width: 151px;
    height: 60px;
    border-radius: 36px;
    border: solid 3px #e990f9;
    background: none;
    color: #e990f9;
    cursor: pointer;
}

.letMeIn {
    width: 83px;
    height: 21px;
    font-family: SFUIText;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


@media (max-width: 770px) {
    .menu-btn-wrp {
      display: block;
    }
    .navigation {
      display: none;
    }
}
