.jogIcon{
    width: 87px;
}

.jog-container{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    cursor: pointer;
}

.jog-container:hover{
    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%, rgba(223, 223, 223, 0.3) 51%, rgba(255,255,255,0.3) 100%);
}

.jog-container .box{
    display: flex;
    flex-direction: column;
    font-family: SFUIText-Regular;
    font-size: 14px;
    color: #b0b0b0;
    line-height: 1.8;
}

.black{
    color: black;
}

.bold{
    font-weight: 800;
}

@media (max-width: 700px){
    .jog-container{
        width: 100%;
    }
}